:root {
	--ebcont-blue: #3683c7;
    --ebcont-gray: #707070;
    --ebcont-red: #e42b19;
    --ebcont-yellow: #ffd04f;
}

html,
body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

html {
	padding: 0;
}

body {
	padding: 2.5vmax;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	box-sizing: border-box;

	background: #333;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card {
	color: white;
	position: relative;
	width: 95vw;
	height: 95vh;
	scroll-snap-align: center;
	display: inline-flex;
	display: inline-flex;
    align-items: center;
	justify-content: center;

	will-change: transform;
	transition: transform .1s ease;
	
	border-radius: 2vh;
	background-color: var(--ebcont-red);
	background-image: linear-gradient(283deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.1) 35%, transparent 35%),
		linear-gradient(16deg, var(--ebcont-blue), var(--ebcont-blue) 30%, transparent 30%),
		linear-gradient(166deg, var(--ebcont-yellow), var(--ebcont-yellow) 24%, transparent 24%);
}

.card + .card {
	margin-left: 2vw;
}

.card:last-of-type {
	margin-right: 2.5vw;
}

.card:focus {
	transform: scale(1.3) rotate(-3deg);
}

.card__value {
	font-size: 30vmax;
	text-shadow: rgba(0, 0, 0, .2) 0 0 1vmax;
	overflow: hidden;
}

.card__value::before,
.card__value::after {
	content: attr(data-value);
	position: absolute;
	font-size: calc(1em / 10);
}

.card__value::before {
	top: 2.5vh;
	left: 2.5vw;
}

.card__value::after {
	bottom: 2.5vh;
	right: 2.5vw;
}

.card__hint {
	position: absolute;
	bottom: 2.5vh;
	opacity: .35;
}