body {
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

.card {
	display: flex;
	background-image: linear-gradient(283deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0.1) 25%, transparent 25%),
		linear-gradient(4deg, var(--ebcont-blue), var(--ebcont-blue) 30%, transparent 30%),
		linear-gradient(173deg, var(--ebcont-yellow), var(--ebcont-yellow) 24%, transparent 24%)
}

.card + .card {
	margin: 2vh 0;
}

.card:last-of-type {
	margin-bottom: 2.5vh;
}